.container
{
/* position: absolute; */
top: 50%;
Left: 50%;
/* transform: translate(-50%, 0); */
}

ul.thumb
{
margin: 0 auto;
padding: 0;
float: left;
}
ul.thumb li
{
List-style: none;
margin: 5px;
width: 100px;
height: 100px;
border: 1px solid rgba(0,0,0,.2);
overflow: hidden;
}

ul.thumb li img
{
width: 100%;
}
.imgBox
{
float: left;
margin: 5px;
width: 400px;
height: 415px;
border: 1px solid rgba(0,0,0,.2);
overflow: hidden;
}
.imgBox img{
    width: 100%;
}